    <%- include('./partials/header') %> 
    <style>
        .navbar{
            box-shadow: 0 0.5px 4px rgb(49, 41, 41);
        }
    </style>
    <title>Main</title>
</head>
<body>
    <%- include('./partials/navbar') %> 
  
    <div>
        <h3 class="display-2 text-center" style="color: rgb(105, 104, 104);">BLOG APP</h3>
        <img src="./images/dashboard.jpg" id="dash" class="img-fluid" alt="dashboard">
    </div>
    <div class="mt-4">
        <div class="rows">
            <div class="col-md-9">
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 my-auto">
                                <div class="inner-container">
                                    <div class="container content">
                                        <h3 class="category-title text-center">Lorem</h3>
                                        <img src="./images/dashboard.jpg" class="img-fluid mt-2" id="image-header" alt="">
                                        <p class="text-center mt-3 category-text">Music Arts</p>
                                        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, maiores consequuntur. Doloribus reprehenderit rem deserunt aspernatur tempora sunt dicta. Ducimus rem eius earum illum sint quaerat provident eligendi quo perferendis.
                                        Voluptatem assumenda numquam, consequatur dolor sunt enim odio, adipisci ab ratione voluptatibus temporibus? Beatae debitis reprehenderit magnam tempora, asperiores alias dolorum commodi dicta voluptatum maiores nisi facere unde eum sit.
                                        Repellendus necessitatibus nesciunt asperiores omnis, nam doloremque, distinctio itaque architecto repellat dolor ut harum sequi rem vitae optio obcaecati tempora. Tenetur voluptate et id ab cupiditate autem eum sit repellendus.
                                        Consequuntur possimus consectetur sequi necessitatibus sed itaque accusantium facilis, optio ex, iste, quia illo officiis obcaecati officia illum ratione at vero totam ullam commodi numquam quam. Culpa reprehenderit reiciendis delectus!
                                        Saepe corporis quisquam totam, nam id cumque. In omnis labore tempora, ex dolores mollitia rerum enim at numquam corporis maiores beatae assumenda a sed molestiae quas ea perspiciatis ipsa. Magni?
                                        Nobis, ducimus esse! Praesentium eveniet eligendi voluptates maiores tempora, fugiat voluptatem vero! Assumenda necessitatibus non magni quibusdam dignissimos, error labore aut molestias harum aspernatur? Ipsam sunt delectus corrupti quae blanditiis.
                                        Natus laudantium ex officiis nostrum deleniti rerum, optio placeat cumque adipisci sit ducimus quasi mollitia molestias dolore iste quisquam, earum hic soluta unde esse. Aut laboriosam nesciunt nostrum. Quam, at.
                                        Quos id numquam reprehenderit aperiam minus atque iusto, voluptas non quaerat qui tempore! Nemo eos ipsam corrupti, laborum, tenetur sapiente voluptate quis, officiis sequi tempora numquam exercitationem. Architecto, mollitia quasi.
                                        Error magnam quaerat cumque voluptates porro odio dolores deserunt accusamus natus beatae aliquam eius laborum cupiditate autem laboriosam, laudantium repellendus quas molestiae animi? Ratione accusamus numquam quis sequi quaerat adipisci.
                                        Quam illum reiciendis, officiis veniam aut ratione, et fuga officia reprehenderit corrupti eos accusamus, impedit rerum autem quisquam delectus aspernatur adipisci voluptatem consequatur. Ea harum quasi maxime dignissimos assumenda adipisci?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-auto">
                                <div class="inner-container">
                                    <div class="container content">
                                        <h3 class="category-title text-center">Lorem</h3>
                                        <img src="./images/hehe.jpg" class="img-fluid mt-2" id="image-header" alt="">
                                        <p class="text-center mt-3 category-text">Music Arts</p>
                                        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, maiores consequuntur. Doloribus reprehenderit rem deserunt aspernatur tempora sunt dicta. Ducimus rem eius earum illum sint quaerat provident eligendi quo perferendis.
                                        Voluptatem assumenda numquam, consequatur dolor sunt enim odio, adipisci ab ratione voluptatibus temporibus? Beatae debitis reprehenderit magnam tempora, asperiores alias dolorum commodi dicta voluptatum maiores nisi facere unde eum sit.
                                        Repellendus necessitatibus nesciunt asperiores omnis, nam doloremque, distinctio itaque architecto repellat dolor ut harum sequi rem vitae optio obcaecati tempora. Tenetur voluptate et id ab cupiditate autem eum sit repellendus.
                                        Consequuntur possimus consectetur sequi necessitatibus sed itaque accusantium facilis, optio ex, iste, quia illo officiis obcaecati officia illum ratione at vero totam ullam commodi numquam quam. Culpa reprehenderit reiciendis delectus!
                                        Saepe corporis quisquam totam, nam id cumque. In omnis labore tempora, ex dolores mollitia rerum enim at numquam corporis maiores beatae assumenda a sed molestiae quas ea perspiciatis ipsa. Magni?
                                        Nobis, ducimus esse! Praesentium eveniet eligendi voluptates maiores tempora, fugiat voluptatem vero! Assumenda necessitatibus non magni quibusdam dignissimos, error labore aut molestias harum aspernatur? Ipsam sunt delectus corrupti quae blanditiis.
                                        Natus laudantium ex officiis nostrum deleniti rerum, optio placeat cumque adipisci sit ducimus quasi mollitia molestias dolore iste quisquam, earum hic soluta unde esse. Aut laboriosam nesciunt nostrum. Quam, at.
                                        Quos id numquam reprehenderit aperiam minus atque iusto, voluptas non quaerat qui tempore! Nemo eos ipsam corrupti, laborum, tenetur sapiente voluptate quis, officiis sequi tempora numquam exercitationem. Architecto, mollitia quasi.
                                        Error magnam quaerat cumque voluptates porro odio dolores deserunt accusamus natus beatae aliquam eius laborum cupiditate autem laboriosam, laudantium repellendus quas molestiae animi? Ratione accusamus numquam quis sequi quaerat adipisci.
                                        Quam illum reiciendis, officiis veniam aut ratione, et fuga officia reprehenderit corrupti eos accusamus, impedit rerum autem quisquam delectus aspernatur adipisci voluptatem consequatur. Ea harum quasi maxime dignissimos assumenda adipisci?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-auto">
                                <div class="inner-container">
                                    <div class="container content">
                                        <h3 class="category-title text-center">Lorem</h3>
                                        <img src="./images/dashboard.jpg" class="img-fluid mt-2" id="image-header" alt="">
                                        <p class="text-center mt-3 category-text">Music Arts</p>
                                        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, maiores consequuntur. Doloribus reprehenderit rem deserunt aspernatur tempora sunt dicta. Ducimus rem eius earum illum sint quaerat provident eligendi quo perferendis.
                                        Voluptatem assumenda numquam, consequatur dolor sunt enim odio, adipisci ab ratione voluptatibus temporibus? Beatae debitis reprehenderit magnam tempora, asperiores alias dolorum commodi dicta voluptatum maiores nisi facere unde eum sit.
                                        Repellendus necessitatibus nesciunt asperiores omnis, nam doloremque, distinctio itaque architecto repellat dolor ut harum sequi rem vitae optio obcaecati tempora. Tenetur voluptate et id ab cupiditate autem eum sit repellendus.
                                        Consequuntur possimus consectetur sequi necessitatibus sed itaque accusantium facilis, optio ex, iste, quia illo officiis obcaecati officia illum ratione at vero totam ullam commodi numquam quam. Culpa reprehenderit reiciendis delectus!
                                        Saepe corporis quisquam totam, nam id cumque. In omnis labore tempora, ex dolores mollitia rerum enim at numquam corporis maiores beatae assumenda a sed molestiae quas ea perspiciatis ipsa. Magni?
                                        Nobis, ducimus esse! Praesentium eveniet eligendi voluptates maiores tempora, fugiat voluptatem vero! Assumenda necessitatibus non magni quibusdam dignissimos, error labore aut molestias harum aspernatur? Ipsam sunt delectus corrupti quae blanditiis.
                                        Natus laudantium ex officiis nostrum deleniti rerum, optio placeat cumque adipisci sit ducimus quasi mollitia molestias dolore iste quisquam, earum hic soluta unde esse. Aut laboriosam nesciunt nostrum. Quam, at.
                                        Quos id numquam reprehenderit aperiam minus atque iusto, voluptas non quaerat qui tempore! Nemo eos ipsam corrupti, laborum, tenetur sapiente voluptate quis, officiis sequi tempora numquam exercitationem. Architecto, mollitia quasi.
                                        Error magnam quaerat cumque voluptates porro odio dolores deserunt accusamus natus beatae aliquam eius laborum cupiditate autem laboriosam, laudantium repellendus quas molestiae animi? Ratione accusamus numquam quis sequi quaerat adipisci.
                                        Quam illum reiciendis, officiis veniam aut ratione, et fuga officia reprehenderit corrupti eos accusamus, impedit rerum autem quisquam delectus aspernatur adipisci voluptatem consequatur. Ea harum quasi maxime dignissimos assumenda adipisci?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-auto">
                                <div class="inner-container">
                                    <div class="container content">
                                        <h3 class="category-title text-center">Lorem</h3>
                                        <img src="./images/doma.jpg" class="img-fluid mt-2" id="image-header" alt="">
                                        <p class="text-center mt-3 category-text">Music Arts</p>
                                        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, maiores consequuntur. Doloribus reprehenderit rem deserunt aspernatur tempora sunt dicta. Ducimus rem eius earum illum sint quaerat provident eligendi quo perferendis.
                                        Voluptatem assumenda numquam, consequatur dolor sunt enim odio, adipisci ab ratione voluptatibus temporibus? Beatae debitis reprehenderit magnam tempora, asperiores alias dolorum commodi dicta voluptatum maiores nisi facere unde eum sit.
                                        Repellendus necessitatibus nesciunt asperiores omnis, nam doloremque, distinctio itaque architecto repellat dolor ut harum sequi rem vitae optio obcaecati tempora. Tenetur voluptate et id ab cupiditate autem eum sit repellendus.
                                        Consequuntur possimus consectetur sequi necessitatibus sed itaque accusantium facilis, optio ex, iste, quia illo officiis obcaecati officia illum ratione at vero totam ullam commodi numquam quam. Culpa reprehenderit reiciendis delectus!
                                        Saepe corporis quisquam totam, nam id cumque. In omnis labore tempora, ex dolores mollitia rerum enim at numquam corporis maiores beatae assumenda a sed molestiae quas ea perspiciatis ipsa. Magni?
                                        Nobis, ducimus esse! Praesentium eveniet eligendi voluptates maiores tempora, fugiat voluptatem vero! Assumenda necessitatibus non magni quibusdam dignissimos, error labore aut molestias harum aspernatur? Ipsam sunt delectus corrupti quae blanditiis.
                                        Natus laudantium ex officiis nostrum deleniti rerum, optio placeat cumque adipisci sit ducimus quasi mollitia molestias dolore iste quisquam, earum hic soluta unde esse. Aut laboriosam nesciunt nostrum. Quam, at.
                                        Quos id numquam reprehenderit aperiam minus atque iusto, voluptas non quaerat qui tempore! Nemo eos ipsam corrupti, laborum, tenetur sapiente voluptate quis, officiis sequi tempora numquam exercitationem. Architecto, mollitia quasi.
                                        Error magnam quaerat cumque voluptates porro odio dolores deserunt accusamus natus beatae aliquam eius laborum cupiditate autem laboriosam, laudantium repellendus quas molestiae animi? Ratione accusamus numquam quis sequi quaerat adipisci.
                                        Quam illum reiciendis, officiis veniam aut ratione, et fuga officia reprehenderit corrupti eos accusamus, impedit rerum autem quisquam delectus aspernatur adipisci voluptatem consequatur. Ea harum quasi maxime dignissimos assumenda adipisci?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 my-auto">
                                <div class="inner-container">
                                    <div class="container content">
                                        <h3 class="category-title text-center">Lorem</h3>
                                        <img src="./images/doma.jpg" class="img-fluid mt-2" id="image-header" alt="">
                                        <p class="text-center mt-3 category-text">Music Arts</p>
                                        <p class="blog-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, maiores consequuntur. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 side-content">
                <div class="container">
                    <hr class="mt-2">
                    <div class="text-center about">ABOUT ME</div>
                    <hr>
                    <img src="./images/me.jpg" alt="Me" id="about-image" class="img-fluid my-auto">
                    <p class="form-text text-center mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem deleniti voluptatibus ipsum, libero possimus et fugit id repellat doloribus ipsa minima saepe quaerat cum quisquam dignissimos est blanditiis, molestias tempore?</p>
                    <hr class="mt-5">
                    <div class="text-center about">Categories</div>
                    <hr>
                    <div class="row text-dark">
                        <div class="col-md-6 category-text">
                            <div class="text-center">Music</div>
                        </div>
                        <div class="col-md-6 category-text">
                            <div class="text-center">Arts</div>
                        </div>
                        <div class="col-md-6 mt-3 category-text">
                            <div class="text-center">Lifestyle</div>
                        </div>
                        <div class="col-md-6 mt-3 category-text">
                            <div class="text-center">Nature</div>
                        </div>
                        <div class="col-md-6 mt-3 category-text">
                            <div class="text-center">Programming</div>
                        </div>
                        <div class="col-md-6 mt-3 category-text">
                            <div class="text-center">Gaming</div>
                        </div>
                    </div>
                    <hr class="mt-5">
                    <div class="text-center about">Follow me</div>
                    <hr>
                    <div class="row mt-5 links">
                        <div class="col-md-3">
                            <a target="_blank" href="https://www.facebook.com/Jpatrickzxc/"><i class="bi bi-facebook" style='font-size:30px; color: black;'></i></a>
                            
                        </div>
                        <div class="col-md-3">
                            <a href="https://twitter.com/zephyrusx_" target="_blank"> <i class="bi bi-twitter" style='font-size:30px; color: black;'></i></a>
                           
                        </div>
                        <div class="col-md-3">
                            <a href="https://github.com/beefysalad" target="_blank"> <i class="bi bi-github" style='font-size:30px; color: black;'></i></a>
                           
                        </div>
                        <div class="col-md-3">
                            <a href="https://www.linkedin.com/in/john-patrick-b8bb12215/" target="_blank"> <i class="bi bi-linkedin" style='font-size:30px; color: black;'></i></a>
                           
                        </div>
                        
                    </div>
                    
                </div>
                

            </div>
            
        </div>
    </div>
    <footer class=" mt-5">
        <div class="text-center p-3">
            Copyright &copy; 2021. <b><a target="_blank" href="https://github.com/beefysalad">BeefySalad.</a></b> All Rights Reserved
             
            </div>
    </footer>
</body>
</html>