.navbar{
    font-family: montserrat, arial, verdana;
    font-size: 20px;
    background-color: whitesmoke;
    /* background-image: url('../images/dashboard.jpg'); */
}

body{
    font-family: montserrat, arial, verdana;
}
#image-header{
    border-radius: 10px;
    width: 600px;
    height: 300px;
}
.category-text{
    color: rgb(170,88,28);
    font-family: montserrat, arial, verdana;
}
.navbar a {
    color: rgb(105, 104, 104);
    text-transform: uppercase;
}
.navbar a:hover{
    color: black;
}
@media (max-width: 991px){
    .navbar-brand{
        width: auto;
        text-align: center;
    }
}
.navbar-toggler{
    background-color: red;
}
#dash{
    height: 550px;
    width: 100%;
    margin-top: 25px;
}

.card-content{
    width: 100%;
    height: 900px;
    /* background-color: blue; */
    padding: 20px;
}

.blog-description{
    /* max-width:550px;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4; */
    /* overflow:hidden; */
    /* text-overflow: ellipsis;
    display: -webkit-box;
    text-align: justify;
    font-family: montserrat, arial, verdana; */
  }
  .blog-description{
    width: inherit;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-align: justify;
    font-family: montserrat, arial, verdana;
}
  .rows{
      display: flex;
      flex-direction: row;
  }
  .side-content{
      background-color: whitesmoke;
      padding: 35px;
  }
  .about{
      color: #696868;
      font-weight: bold;
  }
  #about-image{
      border-radius: 10px;
  }
  .category-title{
    font-family: montserrat, arial, verdana;
  }
  @media (max-width:754px) {
      .side-content{
          display: none;
      }
  }
  .foot { 
    height: 40px; 
    /* position: fixed;  */
    bottom:0%;
    width:100%; 
    background-color: whitesmoke; 
    opacity: 1;
}
.circle{
    width: 50px;
    height: 50px;
    
}
.circle-2{
    border-radius: 50%;
}
.add-content{
    
    width: 80px;
    height: 80px;
    background-color:coral;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    border: none;
    position: fixed;
    bottom: 35px;
    right: 25px;
    
}
.add-content:hover{
    background-color: rgb(255, 179, 152);
}
.icon{
    margin: 0 auto;
    font-size: 55px;
    cursor: pointer;
    align-items: center;
}
.center-nav{
   display: flex;
   justify-content: center;
   margin-top: 1500rem;
   background-color: red;
}
.inner-container{
    /* background-color: red; */
    height: 500px;
    /* width: 500px; */
}

@media (max-width:547px) {
    .inner-container{
        width: 350px;
        height: 500px;
       
    }
}
