
.picture-container{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        
}
.texts{
    font-family: montserrat, arial, verdana;
    font-size: 20px;
}
#about { 
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;        
    resize: none;
  }
.btn-update{
   margin-left: 75px;
}
.imagez{
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    width: 300px;
    height: 300px;
}
.clik{
    cursor: pointer;
    transition: 0.2s;
}
.clik:hover{
    color: blue;
}
.add-content{
    
    width: 80px;
    height: 80px;
    background-color:coral;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    border: none;
    position: fixed;
    bottom: 35px;
    right: 25px;
    
}
.add-content:hover{
    background-color: rgb(255, 179, 152);
}
.icon{
    margin: 0 auto;
    font-size: 55px;
    cursor: pointer;
    align-items: center;
}